<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>My Thymeleaf Error Page</h1>
<table>
    <tr>
        <td>Date</td>
        <!--/*@thymesVar id="timestamp" type="java.util.Date"*/-->
        <td th:text="${timestamp}"></td>
    </tr>
    <tr>
        <td>Path</td>
        <!--/*@thymesVar id="path" type="java.lang.String"*/-->
        <td th:text="${path}"></td>
    </tr>
    <tr>
        <td>Error</td>
        <!--/*@thymesVar id="error" type="java.lang.String"*/-->
        <td th:text="${error}"></td>
    </tr>
    <tr>
        <td>Status</td>
        <!--/*@thymesVar id="status" type="java.lang.String"*/-->
        <td th:text="${status}"></td>
    </tr>
    <tr>
        <td>Message</td>
        <!--/*@thymesVar id="message" type="java.lang.String"*/-->
        <td th:text="${message}"></td>
    </tr>
</table>
</body>
</html>