<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" data-th-href="@{/img/bootstrap-icons-1.5.0/bootstrap-icons.css}">
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" data-th-href="@{/css/mangachan.css}">
    <link rel="icon" type="img/png" data-th-href="@{/img/favicon.ico}">
    <!--<title data-th-text="${title} + ' - Manga-Chan'"></title>-->
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" href="#">Navbar</a>
    </div>
</nav>

<script src="/webjars/popper.js/2.9.3/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
<!--<script src="webjars/angularjs/1.8.2/angular.min.js"></script>-->
<!--<script data-th-src="@{/js/login.js}"></script>-->
</body>
</html>
